<launch>
    <!-- Define arguments for robot name and initial pose -->
    <arg name="robot_name"/>
    <arg name="init_pose"/>

    <arg name="model" default="$(find volta_description)/urdf/volta.xacro"/>

    <!-- Load robot description parameter -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

    <!-- Spawn the robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)" />

    <!-- Node to publish robot state -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Node to publish joint states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Include control and localization for the robot -->
    <include file="$(find volta_control)/launch/control.launch" />
    <include file="$(find volta_localization)/launch/localization.launch" />
</launch>
